.card {
  margin: 10px;
  width: 50%;
  text-align: center;
}

.buyBtn {
  width: 100%;
  background-color: white;
  color: blue;
  border: 1px solid lightblue;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {

  .card{
    width: 100%;
  }
  .buyBtn{
    width: 50%;
  }
  
  
}