.Tabs ul {
  border: none;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.react-tabs__tab--selected {
  border: none !important;
  border-bottom: 1px solid rgb(47, 174, 216) !important;
  border-radius: 0 !important;
  font-weight: 600;
}
